* {
    box-sizing: border-box;
}

.selector {
    position: relative;
}
.selector div {
    transition: all 0.3s ease;
}
.selectorName {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
}
.selectorChild {
    cursor: pointer;
    border: 1px solid gray;
    padding: 5px 10px;
    margin-bottom: 2px;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin-right: 10px;
}
.selectorChild:hover {
    background-color: #32373b;
}

.selectorItems {
    overflow: auto;
    height: 160px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
    margin-bottom: 10px;
}

.selectorItems.hide {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;

}

.inputSelector {
    background-color: #2c3342;
    color: snow;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Courier Prime', monospace;

}

.inputArrowSelector {
    position: relative;
    transition: all 0.3s ease;
}

.inputArrowSelector::after {
    content: '';
    background: url("../../../../assets/icons/arrowUp.png") no-repeat center center;
    background-size: 20px 20px;

    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}
.inputArrowSelector.active::after{
    transform: rotate(180deg);
}


@media (max-width: 500px), (max-height: 380px) {
    .selectorItems {
        background-color: #2c3342;
    }
    .selectorForm {
        flex: 0 1 45%;

    }
}

@media (max-width: 340px){
    .selectorItems {

        padding: 5px;
        font-size: 13px;
    }
    .selectorForm {
        flex: 0 1 48%;
    }

    .inputSelector {
        margin-bottom: 5px;
    }
}
@media (max-height: 380px) {
    .selectorForm {
        flex: 0 1 40%;
    }

}



