.mainWindowWrapper {
    display: grid;
    width: 1200px;
    min-height: 600px;
    margin: 0 auto;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
                    "header header"
                    "sidebar content";
}

.header {
    grid-area: header;
    background-color: green;
}

.sidebar {
    grid-area: sidebar;
    background-color: #61dafb;
}

.content {
    grid-area: content;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;

    background-color: cadetblue;
    word-wrap:break-word;


}