.pokemonCardModal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.pokemonCardModal.active {
    opacity: 1;
    pointer-events: all;
}

.pokemonCardModal__content {
    box-sizing: border-box;
    background-color: rgb(38, 38, 38);
    color: black;
    height: 90vh;
    color: snow;
    width: 80vw;
    border-radius: 20px;
    transform: scale(0.5);
    transition: 0.3s all;
    padding: 20px;
    overflow: auto;

}

.pokemonCardModal__content.active {
    transform: scale(1);
}

.selectedCard {
    display: flex;
    border-bottom: 1px solid gray;
    word-wrap: break-word;
}
.image {
    flex: 1 1 70%;
    padding: 10px 0;
}
.image img {
    overflow: hidden;
    height: 73vh;
}
.pokemonInfo {
    border-left: 1px solid gray;
    overflow: auto;
}
.pokemonNames {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid gray;

}
.pokemonSkills {
    padding: 20px;
    text-align: left;
}

.description {
    margin-top: 20px;
    padding-left: 15px;
    text-align: left;
}

@media (max-width: 400px){

    .selectedCard {
        display: block;
    }

    .image img {
        height: 50vh;
    }

    .pokemonInfo {
        border: none;

    }
}

@media (max-width: 340px) {
    .image img {
        height: 50vh;
    }
}

