.header {
    display: flex;
    justify-content: right;
    height: 100%;
}
.logoutButton {
    box-sizing: border-box;
    cursor: pointer;
    height: 50%;
    max-width: 100px;
    border: 1px solid snow;
    margin: 15px;
    padding: 5px;
    transition: all 0.5s ease;
    color: snow;
}
.logoutButton:hover {
    color: black;
    border: 1px solid black;
    background-color: snow;

}
.backButton {
    display: none;
    border: 1px solid black;
}