.pokemonCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pokemonItem {
    flex: 0 1 200px;
}

.pokemonCardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.paginator {
    display: flex;
}