.pokemonItem {
    border: 1px solid gray;
    padding: 20px 10px;
    flex: 0 1 40%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonItemName {
    margin: 10px 0;
}
.pokemonItemImage {
    transition: all 0.4s ease-in-out;
}

.pokemonItemImage:hover{
    transform: scale(1.05);
}

@media (max-width: 841px) and (max-height: 1024px) {
    .pokemonItemImage img {
        height: 275px;
    }
}
@media (max-width: 380px),(max-height: 380px) {
    .pokemonItem {
        margin: 10px;
        height: auto;
    }
   .pokemonItemImage img {
       height: 250px;
   }

}