
.title {
    color: snow;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    background-color: #2c3342;
    color: snow;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: 'Courier Prime', monospace;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.button {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.3s ease;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Courier Prime', monospace;
    cursor: pointer;
    margin-bottom: 15px;

}

.button:hover {
   background-color: #373c44;
    color: snow;
}

.sendCode {
    padding: 5px 2px;
    color: snow;
    margin-bottom: 10px;
    cursor: pointer;
}
.sendCode:hover {
    color: snow;
    margin-bottom: 10px;
    cursor: pointer;
}

.errorContainer {
    position: relative;
}
.error {
    position: absolute;
    color: red;
}