body {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: rgba(45, 138, 168, 0.66);
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
